/*Variables*/
:root {
    --dark-grey: #212121;
    --ocean: #001653;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: white;
    color: var(--dark-grey);
    overflow-x: hidden;
}

a {
    color: var(--ocean);
    font-size: 1.2em;
    text-decoration: underline solid transparent;
    transition: text-decoration 500ms ease;
}

a:hover {
    text-decoration: underline solid var(--ocean);
    text-decoration-thickness: 0.08em;
}

h1 {
    padding-bottom: 1%;
}

p {
    line-height: 1.2;
    font-size: 1.2em;
}

.arrow {
    border: solid var(--ocean);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transition: 500ms ease;
}

.arrow {
    transform: translateX(+20px);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.fadeinarea {
    z-index: 10;
    width: 100%;
    height: 300%;
    position: absolute;
    background-color: white;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeout;
    -webkit-animation-name: fadeout;
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        z-index: -1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        z-index: -1;
    }
}

.navbar {
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
}

#navbar__logo {
    position: relative;
    left: 5%;
    top: 5%;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.home__container {
    width: 100%;
    height: 100vh;
    display: grid;
    text-align: center;
    align-items: center;
}

.name__teaser {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    color: var(--dark-grey);
}

.slide {
    opacity: 0;
    /*height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    animation: slideIn 1s ease 3s forwards;
    animation-delay: calc(var(--order)*100ms);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(+200px);
    }

    to {
        opacity: 1;
        transform: translateX(10px);
    }
}

.separator {
    display: flex;
    align-items: center;
    padding: 5%;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid var(--dark-grey);
    border-radius: 3px;
}

.separator:not(:empty)::before {
    margin-right: 2%;
}

.separator:not(:empty)::after {
    margin-left: 2%;
}

.projectscontainer {
    display: flex;
    flex-wrap: wrap;
}

.projectrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.projectrow>div {
    flex: 1 1 auto;
    margin: 2%;
}

.projectimg img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----------------todo: make image shadow darker when hovering above it-----------------*/

.projectimg img :hover {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: 1%;
    box-shadow: 0 6px 12px 0 rgba(63, 45, 45, 0.4),
        0 8px 22px 0 rgba(0, 0, 0, 0.38);
}

.projectimg2 img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projecttext {
    padding: 1%;
    min-width: 40%;
}

.projecttext2 {
    padding: 1%;
    min-width: 40%;
}

.technologies-used {
    color: #737373;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    list-style: none;
    justify-content: space-evenly;
}

.technologies-used li {
    padding: 3%;
}

.furtherproj-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

.furtherproj {
    margin: 5% 0 5% 0;
    width: 26rem;
    height: 16rem;
    text-align: center;
    color: #fff;
    background-image: url("media/PP1.png");
    background-repeat: space;
    background-size: 30rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#lennart {
    background-image: url("media/Len.artThumbnailBlue.png");
    background-position: center;
    background-size: 120%;
}

.furtherprojtext {
    text-align: center;
    transform: translate(0%, 80%);
}

#furtherprojbtn {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid rgba(21, 16, 139, 0.4);
    padding: 8px 24px;
    font-size: 110%;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#furtherprojbtn:hover {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    background: white;
    color: black;
    padding: 8px 24px;
    font-size: 115%;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(21, 16, 139, 0.3),
        0 6px 20px 0 rgba(21, 16, 139, 0.4);
}

.recent_technologies {
    margin: 5% 4% 2% 4%;
    text-align: center;
}

.recent_technologies_list {
    color: #737373;
    display: grid;
    grid-template-columns: repeat(2, minmax(260px, 300px));
    justify-content: center;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    font-size: 1.4em;
}

.recent_technologies_list li::before {
    content: "\2022";
    color: rgba(21, 16, 139, 1);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.footer__container {
    margin-top: 5%;
}

.footer__link-items {
    padding: 3%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
}

.madeBy {
    text-align: center;
    padding-bottom: 2%;
    color: var(--dark-grey);
}

/*------------------------- MOBILE -------------------------*/
@media only screen and (max-width: 950px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: var(--dark-grey);
    }

    .navbar__menu.active {
        background-color: rgba(255, 255, 255, 0.95);
        top: 13%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .navbar__menu.active {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.5);
        }

        .warning {
            display: none;
        }
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        font-size: 110%;
        display: table;
        color: rgb(28, 22, 187);
    }

    #mobile-menu {
        transform: translate(5%, 20%);
        margin-right: 5%;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
        background-color: #737373;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .home__container {
        display: flex;
        justify-content: center;
        height: 60vh;
        margin-top: 25%;
    }

    .name__teaser {
        display: flex;
        width: 90%;
        padding-bottom: 10%;
        height: 100%;
        font-size: 1.2em;
    }

    .separator h2 {
        font-size: 100%;
    }

    .projectrow {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }

    .projectrow>div {
        flex: 1 1 auto;
        margin: 2%;
    }

    .projectimg img {
        display: grid;
        place-items: center;
        margin: 0;
        border-radius: 10px;
        width: 100%;
        height: auto;
        margin-right: 1%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .projectimg2 img {
        display: block;
        border-radius: 10px;
        width: 100%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        order: 1;
        margin: 0;
    }

    .projecttext2 {
        padding: 1%;
        min-width: 30%;
        order: 2;
    }

    .ytplayer {
        height: auto !important;
        width: 100% !important;
    }

    .technologies-used {
        color: #737373;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        margin: 6px 0px 10px;
        list-style: none;
        justify-content: space-evenly;
        font-size: 1.1em;
    }

    .furtherproj-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 2%;
    }

    .furtherproj {
        margin: 5% 0 5% 0;
        width: 16rem;
        height: 10rem;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .furtherprojtext {
        color: #fff;
        transform: translate(0%, 10%);
    }

    .recent_technologies {
        margin: 5% 4% 2% 4%;
        text-align: center;
        padding-top: 3%;
    }

    .recent_technologies_list {
        color: #737373;
        display: grid;
        grid-template-columns: repeat(2, minmax(14px, 150px));
        justify-content: center;
        gap: 0px 10px;
        margin: 20px 0px 0px;
        list-style: none;
        font-size: 1.1em;
    }
}