html,
body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Nunito',
        sans-serif;
    color: #212121;
}

a {
    text-decoration: none;
    color: #212121;
}

pre {
    font-family: 'Nunito',
        sans-serif;
    padding-right: 1%;
    white-space: pre;
}

.fadeinarea {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeout;
    -webkit-animation-name: fadeout;
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        z-index: -1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        z-index: -1;
    }
}

.header {
    display: flex;
    flex-direction: row;
}

.returnhome {
    padding: .5% 0 0 9%;
}

.introduction_container {
    padding-left: 7.5%;
    display: flex;
}

.title {
    padding-right: 5%;
}

.description {
    padding: 0 0% 0% 5%;
}

.video_container video {
    padding: 0% 7.5% 2% 7.5%;
}

.footer {
    width: 100%;
    height: 40px;
}

@media only screen and (max-width: 950px) {
    .introduction_container {
        padding-left: 5%;
        flex-direction: column;
    }

    pre {
        padding-right: 1%;
        font-family: 'Nunito', sans-serif;
        white-space: pre-line;
    }

    .description {
        padding: 0%;
    }
}